<form role="form">
  <div class="form-group">
    <input class="form-control" name="title" value="<%= title %>" placeholder="Book title"/>
  </div>
  <div class="form-group">
    <input class="form-control" name="summary" value="<%= summary %>" placeholder="Book summary"/>
  </div>
  <button class="btn btn-default"><span class="glyphicon glyphicon-plus"</span></button>
</form>
