<strong><%= model.escape("title") %></strong>
<p>
  <%= model.escape("summary") %>
  <br />
  <button class='delete-book btn btn-default btn-xs'>Delete</button>
  <button class='edit-book btn btn-default btn-xs'>Edit</button>
</p>
